---
layout: page
---
<h2>Projetos em andamento</h2>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3>
            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h4>
            {{ post.subtitle }}
        </h4>
        {% endif %}
    </a>
    <!-- TODO: Inserir miniatura com foto do projeto -->
    {% if 2 > 1%}<p class="post-meta" style="margin-bottom:5px">Escrito por {{ post.author }} em {{ post.date | date: "%d/%m/%Y" }}</p>{% endif %}
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Voltar</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
    </li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Ver mais &rarr;</a>
    {% endif %}
</ul>
{% endif %}

